.signupbg{
    background-image: url('../../public/images/signupback.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 100%; */
    height: 700px;
    font-family:'Aleo';
    
}


.forminnerdiv{
    width: 100%;  

}
.formdiv{
    margin: auto;
    width: 50%;
    /* border:1px solid black; */
    padding-top: 150px;
 
   
}
.formborder:hover{
    border: 1px solid blue;
   
}
.signuphead{
    font-size: 30px;
}
.btnstyle:hover{
    font-size: 15px;
    border:2px solid blue
    /* background-color: pink; */
    
}
.loginformdiv{
    margin: auto;
    width: 50%;
    padding-top: 150px;
 
}
.companysignupformdiv{
    margin: auto;
    width: 50%;
    padding-top: 150px;
}
.formtext{
    font-size: 50px;
}
.navclr{
    background-color: yellow;
}
.labelstyle{
   /* margin: 8px 0px 0px; */
   color: red;
}
/* .addproducmaindiv{
    width: 400px;
} */
.addproducmaindiv{
    padding-top: 100px;
    width: 100%;

}
.addprdtsubdiv{
    width: 500px;
    margin: auto;
    /* background-color: white; */
}
.addprdformstyle{
    border: 1px solid lightblue;


    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    
}
.addprdformstyle:hover{
    border: 1px solid blue;
    
}
.addprdbtnstyle{
    font-family: 'Courier New', Courier, monospace;
}
.addprdform{
    background-color:#F5DEB3;
    /* height: auto; */
    padding-bottom: 100%;
}
.productcard{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    /* height: 100px; */
}
.producttext{
    font-size: 8px;
}
.prdbodyStyle{
    /* height: 100px; */

}
.prdtextspace{
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.homecolone{
    height: 350px;
}
.homecoltwo{
    height: 200px;
}
.orderflex{
    display: flex;
}
.cartimg{
    width: 50px;
    height: 150px;
}
/* .cartback{
    background-color: rgba(255, 215, 0,0.5);
    height: 100rem;
} */
.cartinnerdiv{
    max-width: 100rem;
    margin: auto;
    height: 90rem;
    background-color:rgb(230, 230, 250);
    /* border-radius: 20px; */
    /* padding-top: 100px; */
    /* padding-left: 100px; */
    /* justify-content: center; */
}
.cartcolstyleone{
    border: 1px solid white;
    max-width: 400px;
    /* margin: auto; */
    height: auto;
    background-color: white;
    border-radius: 20px;
    
}
.cartcolstyle{
    border: 1px solid white;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    margin-top: 3rem;
    

}.carthead{
   padding-top: 3rem;
   padding-left: 6rem;
   margin-bottom:2rem ;
}
.cardflex{
    display: flex;
    /* align-content: center; */
}
.cardflexone{
    display: flex;
    justify-content: space-around;
    margin-left: 15rem;

}
.cartcardstyle{
    margin: auto;
    border: 1px solid white;
    /* margin-bottom: 2rem; */
    /* margin: 15px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carttitlebar{
    display: flex;
    margin-left: 5rem;
    justify-content: space-around;

}
.carttitlebartop{
    width: 50rem;
    display: flex;
    justify-content: space-between;

}
.cartitle{

}
.cartbtnstyle{
    border: 1px solid blue;
    border-radius: 10px;
    /* margin-left: 10px; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.counterflex{
    display: flex;
}
.decrement{
    
    /* height: 6px; */
    /* margin-top: 6px; */
    /* margin-bottom: 15px; */
}
.carttxtare{
    background-color: grey;
    border: 1px solid lavender;
}
.formflex{
  display: flex;
}
.carttotaldivflex{
    display: flex;
    justify-content: space-between;
}
.carttotalstyle{
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: rgba(244, 164, 96,0.6);
    padding: 20px;

}
.carttotalbtn{
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
}
.viewproductback{
    background-color: #F0FFF0;
    height: 700px;
}
.odrsmryback{
    background-color:rgb(230, 230, 250);
    height: 700px;
}
.odrmaindiv{
    width: 80rem;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 5rem;
    background-color: white;
    border-radius: 20px;
    height: auto;
}
.ordercolone{
    background-color: white;
    border-radius: 20px;
    height: auto;
    font-family:'Times New Roman', Times, serif;
}
.ordercoltwo{
    background-color: white;
    border-radius: 20px;
    height: auto;
    font-family:'Times New Roman', Times, serif;

}
.odrmaindiv{
   
}
.odraddrsflex{
    display: flex;
    justify-content: space-between;
}
/* .cartinnerdiv{
    margin: 10px;
} */
/* .cardflex{
    padding-top: 1rem;
} */
/* .productimage{
    width: 100px;
} */
/* .formfilestyle{
    width: 500px;
    
} */
 
@media screen and (max-width: 600px) {
    .formdiv{
        width: 300px;
        /* height: 100px; */
        padding-top:50px;
        
    }
    .signuphead{
        font-size: 20px;
        /* margin-bottom: 0px; */
    }
    .loginformdiv{
        width: 300px;
        padding-top:150px;
    }
    .gridone{
        margin-bottom: 10px;
    }
    .logingridone{
        margin-bottom: 20px;
    }
    .gridend{
        margin-bottom: -15px;
    }
    .compsigngridend{
        margin-bottom: -8px;
    }
    .companysignupformdiv{
        width:300px;
       padding-top: 50px;
       /* font-size: px; */
    }
    .formtext{
        /* font-size: 5px; */
    }
    .addprdformstyle{
      margin-left: 50px;
      margin-right: 50px;
    }
    .addformfile{
        margin-left: 50px;
        margin-right: 50px;
    }
  }
