.signupbg{
    background-image: url('../../public/images/signupback.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 100%; */
    height: 700px;
    font-family:'Aleo';
    
}
.loginbg{
    background-image: url('../../public/images/signupback.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 100%; */
    height: 700px;
    font-family:'Aleo';
    
}



.forminnerdiv{
    width: 100%;  

}
.formdiv{
    margin: auto;
    width: 50%;
    /* border:1px solid black; */
    padding-top: 150px;
 
   
}
.formborder:hover{
    border: 1px solid blue;
   
}
.signuphead{
    font-size: 30px;
}
.btnstyle:hover{
    font-size: 15px;
    border:2px solid blue
    /* background-color: pink; */
    
}
.loginformdiv{
    margin: auto;
    width: 50%;
    padding-top: 150px;
 
}
.companysignupformdiv{
    margin: auto;
    width: 50%;
    padding-top: 150px;
}
.formtext{
    font-size: 50px;
}
.navclr{
    background-color: white;
}
.labelstyle{
   color: red;
}


.addproducmaindiv{
    padding-top: 100px;
    width: 100%;

}
.addprdtsubdiv{
    width: 500px;
    margin: auto;
}
.addprdformstyle{
    border: 1px solid lightblue;


    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    
}
.addprdformstyle:hover{
    border: 1px solid blue;
    
}
.addprdbtnstyle{
    font-family: 'Courier New', Courier, monospace;
}
.addprdform{
    background-image: url("../../public/images/addproductback.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
}
.productcard{
    width: 200px;
    height: 150px;
    border: 2px solid black;
}
.producttext{
    font-size: 8px;
}
.prdbodyStyle{
    /* height: 100px; */

}
.prdtextspace{
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.homecolone{
    height: 350px;
}
.homecoltwo{
    height: 200px;
}

.cartimg{
    width: 50px;
    height: 150px;
}

.cartinnerdiv{
    max-width: 100rem;
    margin: auto;
    height: auto;
    background-color:rgb(230, 230, 250);
    
}
.cartcolstyleone{
    border: 1px solid white;
    /* max-width: 400px; */
    margin: auto;
    height: auto;
    background-color: white;
    border-radius: 20px;
    
}
.cartcolstyle{
    border: 1px solid white;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    margin-top: 3rem;
    

}
.carthead{
    
   padding-top: 3rem;
   padding-left: 6rem;
   margin-bottom:2rem ;
}
.cardflex{
    display: flex;
    /* align-content: center; */
    align-items: center;
    /* align-content: center; */
}
.cardflexone{
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;

}
.cardtext{
    /* display: flex;
    justify-content: space-between; */
    /* margin-left: 15rem; */
    margin-left: 5rem;
    
}
.cartcardstyle{
    margin: auto;
    border: 1px solid white;
    /* margin-bottom: 2rem; */
    /* margin: 15px; */
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: 600px; */
}
.carttitlebar{
    display: flex;
    margin-left: 5rem;

    justify-content: space-around;

}
.carttitlebartop{
    margin-left: 9rem;
    width: 50rem;
    display: flex;
    justify-content: space-around;

}
.cartitle{

}
.cartbtnstyle{
    border: 1px solid blue;
    border-radius: 10px;
    width: 100px;
    /* margin-left: 10px; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.counterflex{
    display: flex;
}
.decrement{
    
    /* height: 6px; */
    /* margin-top: 6px; */
    /* margin-bottom: 15px; */
}
.carttxtare{
    background-color: grey;
    border: 1px solid lavender;
}
.formflex{
  display: flex;
}
.carttotaldivflex{
    display: flex;
    justify-content: space-between;
}
.carttotalstyle{
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: rgba(244, 164, 96,0.6);
    padding: 20px;

}
.carttotalbtn{
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
}
.viewproductback{
    background-color: white;
    height: 700px;
}
.odrsmryback{
    background-color:rgb(230, 230, 250);
    height: 700px;
}
.odrmaindiv{
    width: 80rem;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 5rem;
    background-color: white;
    border-radius: 20px;
    height: auto;
}
.ordercolone{
    background-color: white;
    border-radius: 20px;
    height: auto;
    font-family:'Times New Roman', Times, serif;
}
.ordercoltwo{
    background-color: white;
    border-radius: 20px;
    height: auto;
    font-family:'Times New Roman', Times, serif;

}
.odrmaindiv{
   
}
.odraddrsflex{
    display: flex;
    justify-content: space-between;

}
.radioflex{
    display: flex;
    justify-content: space-between;
}
.homepage{
    background-image: url('../../../ecommerceapp/public/images/hompage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 900px;
}
.hmtextdiv{
    border:7px solid white;
    max-width:500px;
    height:350px;
    color:white;
    margin:auto;
    text-align: center;
    outline: 2px solid white;
    outline-offset: 6px;
    text-shadow: 2px 2px  black;
    /* word-spacing: 10px; */
    /* white-space: wrap; */
    /* padding-top: 40px; */
}
.hnfindstyle{
    width: 100%;
    margin-top: 30px;
    /* border: 2px solid white; */
    height: 300px;
}

.hometxt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
.homepagehead{
    padding-top: 8rem;
    background-color: lightcoral;
    width: 500px;
    margin: auto;
}
.homecardflex{
    display: flex;
    
}
.progressbar{
    background-color: blue;
    width: 10rem;
    height: 3px;
}
.progressbarone{
    background-color: grey;
    width: 10rem;
    height: 3px;
}
.progressbartwo{
    background-color: grey;
    width: 10rem;
    height: 3px;
}
.progressflex{
    display: flex;
    align-items: center;
}
.pgstopflex{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    /* padding-bottom: 2rem; */
}


.viewproductback{
    background-color: white;
    width: 100%;
    height: 900px;
}
.viewprdtdiv{
    font-family: 'Courier New', Courier, monospace;
   padding-top: 100px;
   font-weight: bold;
   /* height: 100%; */
   /* width: 900px; */
   /* margin: auto; */
   /* margin-left: 230px; */
   
}
.viewprdctcards{

border: 1px solid black;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.viewprdctbtn{
    display: flex;
    justify-content: space-around;
}
.orderbtns{
    display: flex;
}

.cartbodyres{
    display: none;
}
.cartimg{
    height: 10rem;
}
.viewprdbtnstyle{
    width: 250px;
}
.hmres{
    display: none;
}
.addprdctres{
    display: none;
}
/* .viewodrres{
     display: none;
} */
@media screen and (max-width: 600px) {
    .formdiv{
        width: 300px;
        /* height: 100px; */
        padding-top:50px;
        
    }
    .signuphead{
        font-size: 20px;
        /* margin-bottom: 0px; */
    }
    .loginformdiv{
        width: 300px;
        padding-top:150px;
    }
    .gridone{
        /* margin-bottom: 10px; */
    }
    .logingridone{
        margin-bottom: 20px;
    }
    .gridend{
        /* margin-bottom: -15px; */
    }
    .compsigngridend{
        margin-bottom: -8px;
    }
    .companysignupformdiv{
        width:300px;
       padding-top: 50px;
       /* font-size: px; */
    }
    .formtext{
        /* font-size: 5px; */
    }
    .addprdformstyle{
      margin-left: 50px;
      margin-right: 50px;
    }
    .addformfile{
        margin-left: 50px;
        margin-right: 50px;
    }
    .cardflexoneviewodr{
        /* margin-left: 5rem; */
    }
    .viewprdctcards{
        margin-left: 2.5rem;
    }
    .cartbtnstyle{
        width: 80px;
    /* margin-right: 2rem; */
    }
    .progressflex{
        width: 90px;
    }
    .progressbartwo{
        display: none;
    }
    .carthead{
   padding-left: 3rem;
        
    }
    .cartcardbody{
        display: none;
    }
    .cartbodyres{
        display: block;
    }
    .cartimg{
        height: 8rem;
    }
    .outofstockbtn{
        width: 300px;
        
    }
    .signupbg{
        /* background-image: url('../../public/images/signupback.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%; */
        /* width: 100%; */
        height: auto;
        /* font-family:'Aleo'; */
        
    }
    .hmres{
        display: block;
    }
    .hmdiv{
        display: none;
    }
    .hmtextdiv{
        border:7px solid white;
       width:250px;
        height:330px;
        color:white;
        /* margin:auto; */
        text-align: center;
        outline: 2px solid white;
        outline-offset: 6px;
        text-shadow: 2px 2px  black;
        padding-top: 0px;
        /* word-spacing: 10px; */
        /* white-space: wrap; */
        /* padding-top: 40px; */
    }
.homepage{
    height: 70rem;
}
.viewprdctcards{
    margin-left: 90px;
}
.addprdctres{
    display: block;
}
.addprct{
    display: none;
}

    /* .orderbtns{
        display: none;
    }
    .viewodrres{
        display: block;
    } */
    
  }
